// Заголовки, загальні БЕМ блоки та інше...

.title {
	font-weight: 700;
	@include adaptiveValue("font-size", 56, 32);
	line-height: 1.14286;
	color: #221d1e;
	transition: all 0.4s ease-in 0s;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
}

.button {
	span {
		&:nth-child(2) {
			@media (min-width: toEm(400)) {
				display: none;
			}
		}
		&:nth-child(1) {
			@media (max-width: toEm(400)) {
				display: none;
			}
		}
	}
	display: flex;
	justify-content: center;
	align-items: center;
	@include adaptiveValue("gap", 41, 13);
	background: #000;
	border-radius: toRem(66);
	padding: toRem(29) toRem(57) toRem(29) toRem(40);
	@media (max-width: $mobileSmall) {
		width: 100%;
		padding: toRem(16) toRem(24);
	}
	@media (max-width: $mobile) {
		padding: toRem(24) toRem(30);
	}
	line-height: 1.2;
	font-weight: 600;
	@include adaptiveValue("font-size", 32, 20);
	letter-spacing: -0.03em;
	color: #fff;
	
	svg {
		animation: moveArrow 1s ease-in-out infinite;
		transition: all 0.3s ease-out;
		fill: #fff;
		@include adaptiveValue("width", 14, 10);
	}
	@media (any-hover: hover) {
		&:hover {
			color: #e6d5ec;
			svg {
				fill: #e6d5ec;
			}
		}
	}
}

@keyframes moveArrow {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(
			10px
		); /* Відстань, на яку стрілка рухається вправо */
	}
	100% {
		transform: translateX(0);
	}
}
