.header {
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
	/* .header__container */
	&__container {
		@include adaptiveValue("padding-top", 57, 20);
		@include adaptiveValue("padding-bottom", 57, 20);
        display: flex;
        justify-content:center;align-items: center;
	}
	/* .header__logo */
	&__logo {
        background: #000;
		padding: toRem(12) toRem(24);
		font-weight: 900;
		@include adaptiveValue("font-size", 24, 18);
		line-height: 1.25;
		color: #fff;
        transition: all 0.3s;
        @media (any-hover: hover){
            &:hover{
                color: #e6d5ec;
            }
        }
	}
}
