//====================================================================================================

.hero {
	@include adaptiveValue("padding-top", 200, 85);
	@include adaptiveValue("padding-bottom", 104, 40);
	background: linear-gradient(180deg, #f8f5f0 0%, #e6d5ec 100%);
	text-align: center;
	/* .hero__container */
	&__container {
		display: grid;
		justify-items: center;
	}
	/* .hero__title */
	&__title {
		transition: all 0.5s ease-out;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
		font-weight: 700;
		@include adaptiveValue("font-size", 72, 42);
		line-height: 1.11111;
		color: #221d1e;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 12);
		}
	}
	/* .hero__text */
	&__text {
		transition: all 0.5s ease-out 0.2s;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
		max-width: toRem(1000);
		max-width: toRem(641);
		@include adaptiveValue("font-size", 18, 14);
		line-height: 1.66667;
		color: #000;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
	/* .hero__bg-text */
	&__bg-text {
		width: 102%;
		margin: 0 toRem(-30);
		img {
			width: 100%;
		}
	}
	/* .hero__images */
	&__images {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 52, 20);
		}
	}
	/* .hero__frame */
	&__frame {
		@include adaptiveValue("margin-top", -140, -10);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			filter: blur(40px);
			background: #876c63;
			opacity: 0.2;
			bottom: toRem(-40);
			width: 83.333333%; /* 300/360 */
			height: 75%; /* 360/480 */
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	/* .hero__girl */
	&__girl {
		width: 100%;
		height: 100%;
		border: toRem(10) solid #fff;
		border-radius: toRem(500);
		@include adaptiveValue("width", 360, 220);
		aspect-ratio: 360 / 480 !important;
		position: relative;
		overflow: hidden;
		transition: all 0.9s ease-out 0.4s;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
		img {
			transform: scaleX(-1);
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	/* .hero__shape */
	&__shape {
		position: absolute;
		top: 58.333333%; /* 280/480 */
		left: -20.277778%; /* -73/360 */
		@include adaptiveValue("width", 123, 80);
	}
	/* .hero__heart */
	&__heart {
		position: absolute;
		top: 15%; /* 72/480 */
		right: -20.833333%; /* 75/360 */
		@include adaptiveValue("width", 122, 80);
	}

	/* .hero__block */
	&__block {
		position: absolute;
		@include adaptiveValue("bottom", 119, 40);
		right: -31.111111%; /* 112/360 */
		border-radius: toRem(60);
		padding: toRem(12) toRem(24);
		box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.12);
		background: #fff;
		font-weight: 600;
		@include adaptiveValue("font-size", 18, 13);
		line-height: 1.33333;
		text-align: center;
		color: #221d1e;
	}

	/* .hero__button */
	&__button {
		transition:
			transform 0.5s ease-out,
			opacity 0.5s ease-out,
			color 0.3s;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
		&:not(:last-child) {
			margin-bottom: toRem(8);
		}
	}
	/* .hero__comment */
	&__comment {
		@include adaptiveValue("font-size", 12, 10);
		line-height: 1.5;
		color: #655c4c;
	}
}
.slide {
	opacity: 0; /* Початкова прозорість */
	transition: opacity 0.7s ease-in-out; /* Перехід тривалістю 0,4с */
}

/* Клас для активного слайду */
.active {
	opacity: 1; /* Встановлюємо видимість активного слайда */
	position: relative; /* Щоб слайд займав своє місце */
}
//====================================================================================================

.how {
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 100, 40);
	background: #fff9f9;
	/* .how__container */
	&__container {
	}
	/* .how__title */
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
	/* .how__items */
	&__items {
		display: flex;
		@media (max-width: $pc) {
			flex-wrap: wrap;
		}
		gap: toRem(22);
		border-radius: toRem(39);
		padding: toRem(24);
		background-color: #fff;
		@media (max-width: $mobile) {
			padding: toRem(15);
			gap: toRem(15);
		}
	}
	/* .how__item */
	&__item {
	}
}
.item-how {
	opacity: 0;
	transform: translate(0, toRem(10));
	&._watcher-view {
		opacity: 1;
		transform: translate(0);
	}
	&:nth-child(1) {
		transition: all 0.4s ease-in 0.15s;
	}
	&:nth-child(2) {
		transition: all 0.4s ease-in 0.3s;
	}
	&:nth-child(3) {
		transition: all 0.4s ease-in 0.45s;
	}
	&:nth-child(4) {
		transition: all 0.4s ease-in 0.6s;
	}
	span {
		&:nth-child(1) {
			font-weight: 900;
		}
	}
	display: flex;
	flex: 1 1 auto;
	white-space: nowrap;
	gap: toRem(12);
	justify-content: center;
	align-items: center;
	padding: toRem(25) toRem(34);
	border: 1px solid #e6e7ee;
	border-radius: toRem(18);
	font-weight: 600;
	font-size: toRem(18);
	line-height: 1.45;
	text-align: center;
	color: #000;
	@media (max-width: $mobile) {
		padding: toRem(18) toRem(28);
	}
	@media (max-width: $mobileSmall) {
		white-space: normal;
		justify-content: flex-start;
		text-align: left;
		gap: toRem(15);
	}
}

//========================================================================================================================================================

.hairstyles {
	@include adaptiveValue("padding-top", 156, 40);
	@include adaptiveValue("padding-bottom", 161, 40);
	background: #fff9ff;
	/* .hairstyles__container */
	&__container {
		display: flex;
		align-items: center;
		gap: toRem(30);
		@media (min-width: $tablet) {
			padding-right: toRem(117);
		}
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	/* .hairstyles__content */
	&__content {
		@media (min-width: $mobile) {
			flex: 0 1 51.666667%; /* 620/1200 */
		}
	}
	/* .hairstyles__title */
	&__title {
		margin-bottom: toRem(12);
		@media (min-width: $mobile) {
			max-width: toRem(410);
		}
	}
	/* .hairstyles__list */
	&__list {
		@include adaptiveValue("font-size", 18, 14);
		line-height: 2.22222;
		li {
			display: flex;
			align-items: center;
			position: relative;
			padding-left: toRem(27);
			opacity: 0;
			transform: translate(0, toRem(10));
			&._watcher-view {
				opacity: 1;
				transform: translate(0);
			}
			&:nth-child(1) {
				transition: all 0.4s ease-in 0.15s;
			}
			&:nth-child(2) {
				transition: all 0.4s ease-in 0.25s;
			}
			&:nth-child(3) {
				transition: all 0.4s ease-in 0.35s;
			}
			&:nth-child(4) {
				transition: all 0.4s ease-in 0.45s;
			}
		}
		li::before {
			content: "";
			position: absolute;
			display: flex;
			flex-shrink: 0;
			left: toRem(8);
			width: toRem(7);
			height: toRem(7);
			aspect-ratio: 1 / 1;
			background-color: black; /* Колір буліта */
			border-radius: 50%;
		}
	}
	/* .hairstyles__images */
	&__images {
		height: toRem(501);
		@include adaptiveValue("height", 501, 380, 0, 1440, 767.98);
		@include adaptiveValue("height", 501, 300, 1, 767.98, 320);
		aspect-ratio: 475 / 501;
		position: relative;
		img {
		}
	}
	/* .hairstyles__image */
	&__image {
		position: absolute;
		aspect-ratio: 1/ 1;
		&:nth-child(1) {
			top: 23.952096%; /* 120/501 */
			left: 26.105263%; /* 124/475 */
			width: 52.210526%; /* 248/475 */
			z-index: 2;
		}
		&:nth-child(2) {
			top: 0;
			right: 41.684211%; /* 198/475 */
			width: 18.526316%; /* 88/475 */
			z-index: 3;
		}
		&:nth-child(3) {
			top: 17.56487%; /* 88/501 */
			right: 0; /* 198/475 */
			z-index: 3;
			width: 16.842105%; /* 80/475 */
			img {
				transform: scaleX(-1);
			}
			
		}
		&:nth-child(4) {
			bottom: 36.926148%; /* 185/501 */
			right: 0; /* 198/475 */
			width: 14.947368%; /* 71/475 */
			z-index: 3;
		}
		&:nth-child(5) {
			bottom: 19.361277%; /* 97/501 */
			right: 27.578947%; /* 131/475 */
			width: 14.526316%; /* 69/475 */
			z-index: 3;
		}
		&:nth-child(6) {
			bottom: 0; /* 97/501 */
			left: 31.368421%; /* 149/475 */
			width: 16.842105%; /* 80/475 */
			z-index: 3;
		}
		&:nth-child(7) {
			bottom: 19.760479%; /* 99/501 */
			left: 0;
			width: 20%; /* 95/475 */
			z-index: 3;
			img {
			transform: scaleX(-1);
					
			}
		}
		&:nth-child(8) {
			top: 17.56487%; /* 88/501 */
			left: 5.052632%; /* 24/475 */
			width: 14.947368%; /* 71/475 */
			z-index: 3;
		}
	
	}
	&__dots {
		position: absolute;
		top: 36.526946%; /* 183/501 */
		left: 12.210526%; /* 58/475 */
		width: 25.684211%; /* 122/475 */
		z-index: 1;
	}
	/* .hairstyles__box */
	&__box {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: toRem(10);
		overflow: hidden;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	/* .hairstyles__block */
	&__block {
		position: absolute;
		border-radius: toRem(10);
		width: 45.052632%; /* 214/475 */
		aspect-ratio: 214/180;
		background: #ffebff;
		bottom: 10.379242%; /* 52/501 */
		right: 11.157895%; /* 53/475 */
	}
}

//========================================================================================================================================================

.pricing {
	@include adaptiveValue("padding-top", 132, 40);
	@include adaptiveValue("padding-bottom", 132, 40);
	/* .pricing__container */
	&__container {
		display: grid;
		justify-items: center;
	}
	/* .pricing__title */
	&__title {
		text-align: center;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 71, 30);
		}
	}
	/* .pricing__plans */
	&__plans {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		gap: toRem(32);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 24, 16);
		}
	}
	/* .pricing__plan */
	&__plan {
	}
	/* .pricing__contact */
	&__contact {
		transition: all 0.4s ease-in 0.55s;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
		@include adaptiveValue("font-size", 18, 14);
		line-height: 1.77778;

		a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.plan {
	opacity: 0;
	transform: translate(0, toRem(10));
	&._watcher-view {
		opacity: 1;
		transform: translate(0);
	}
	&:nth-child(1) {
		transition: all 0.5s ease-out 0.3s;
	}
	&:nth-child(2) {
		transition: all 0.5s ease-out 0.5s;
	}

	@media (max-width: $mobile) {
		flex: 1 1 auto;
	}
	border: 1px solid #e6e7ee;
	border-radius: toRem(18);
	padding: toRem(24) toRem(34);
	@media (min-width: $mobile) {
		min-width: toRem(312);
	}
	display: flex;
	flex-direction: column;
	gap: toRem(12);
	/* .plan--black */
	&--black {
		border: 1px solid #000;
		background: #000;
		color: #fff;
		.plan__price {
			color: #fff;
		}
		.plan__button {
			color: #000;
			border: 1px solid #000;
			background-color: #fff;
			@media (any-hover: hover) {
				&:hover {
					border: 1px solid #fff;
					color: #fff;
					background-color: #000;
				}
			}
		}
	}
	/* .plan__type */
	&__type {
		font-weight: 500;
		line-height: 1.33333;
		@include adaptiveValue("font-size", 18, 16);
	}
	/* .plan__price */
	&__price {
		font-weight: 700;
		@include adaptiveValue("font-size", 52, 46);
		line-height: 1.15385;
		color: #221d1e;
		font-family: "PT Mono", monospace;
	}
	/* .plan__features */
	&__features {
		display: grid;
		gap: toRem(12);
		li {
			font-weight: 500;
			@include adaptiveValue("font-size", 18, 16);
			line-height: 1.33333;
		}
	}
	/* .plan__button */
	&__button {
		@include adaptiveValue("font-size", 18, 16);
		margin-top: auto;
		border-radius: toRem(50);
		padding: toRem(12) toRem(15);
		background: #221d1e;
		font-weight: 500;
		letter-spacing: -0.02em;
		color: #fff;
		border: 1px solid #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1.13;
		transition: all 0.3s;
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid #000;
				color: #000;
				background-color: #fff;
			}
		}
	}
}

//========================================================================================================================================================

.help {
	/* .help__container */
	&__container {
	}
	/* .help__block */
	&__block {
		@include adaptiveValue("padding-top", 168, 40);
		@include adaptiveValue("padding-bottom", 168, 40);
		// background: url("@img/help_bg.png") center/cover no-repeat;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
		border-radius: toRem(18);
		overflow: hidden;
		@media (max-width: $tablet) {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.25);
				z-index: 1;
			}
		}
	}

	/* .help__content */
	&__content {
		position: relative;
		z-index: 10;
		@media (min-width: $mobileSmall) {
			max-width: toRem(422);
		}
		margin: 0 toRem(50);
		@media (max-width: $mobile) {
			margin: 0 toRem(20);
		}
		@media (max-width: $mobileSmall) {
			margin: 0 toRem(15);
		}
	}
	/* .help__title */
	&__title {
		transition: all 0.4s ease-in 0s;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
		font-weight: 800;
		@include adaptiveValue("font-size", 56, 32);
		line-height: 1.14286;
		@media (max-width: $mobile) {
			br {
				display: none;
			}
		}
		color: #fff;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
	/* .help__button */
	&__button {
		transition: all 0.5s ease-out 0.3s;
		opacity: 0;
		transform: translate(0, toRem(10));
		&._watcher-view {
			opacity: 1;
			transform: translate(0);
		}
		@include adaptiveValue("font-size", 24, 20);
		padding: toRem(22) toRem(24);
		@media (max-width: $mobileSmall) {
			span {
				display: none;
			}
		}
	}
}
